{% extends "rdrf_cdes/base-1-col.html" %}

{% load i18n %}
{% load translate %}

{% block patient_menu %}
    {% if request.user.is_patient %}
        <li>
            <a href="{% url 'patient_carer_registration' %}"><span class="glyphicon glyphicon-user"></span>
                {% trans 'Carer registration' %}
            </a>
        </li>
    {% endif %}
    {% if request.user.is_carer and request.user.patients_in_care.count > 1 %}
        <li>
            <a href="{% url 'patientslisting' %}"><span class="glyphicon glyphicon-user"></span>
                {% trans 'Patients list' %}
            </a>
        </li>
    {% endif %}

{% endblock %}