{% extends "rdrf_cdes/form.html" %}

{% load i18n %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/extra_lookup.js' %}"></script>
{% endblock %}

{% block sidebar %}
  {{ block.super }}
  <div width="100%" class="panel panel-default collapsible">
    <div class="panel-body">
      {% if request.user.is_clinician and not request.user.ethically_cleared %}
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        {% trans 'About Me PDF' %}
      {% else %}
        <a href="{% url 'about_me' registry_code patient_id %}" download>
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          {% trans 'About Me PDF' %}
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}