{% extends "rdrf_cdes/form.html" %}

{% load i18n %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
  <style>
    .ui-autocomplete {
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .product-attributes > label {
      margin: 10px 0 0 0;
    }
  </style>
<script type="text/javascript" src="{% static 'js/extra_lookup.js' %}"></script>
{% endblock %}

{% block sidebar %}
  {{ block.super }}
  <div width="100%" class="card collapsible">
    <div class="card-body">
      {% if request.user.is_clinician and not request.user.ethically_cleared %}
        <span class="fa fa-file" aria-hidden="true"></span>
        {% trans 'About Me PDF' %}
      {% else %}
        <a href="{% url 'about_me' registry_code patient_id %}" download>
          <span class="fa fa-file" aria-hidden="true"></span>
          {% trans 'About Me PDF' %}
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}