{% load static from staticfiles %}
{% load project_logo %}
{% load project_title %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{% project_title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap-grid.min.css' %}">

  <script src="{% static 'js/vendor/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'bootstrap-4.4.1/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'bootstrap-4.4.1/js/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
<header>
  <div class="page-title">
    {% project_logo as PL %}
    <img src="{% static PL %}" alt="MND Partnership">
    <span class="d-none d-md-inline-block">{% project_title %}</span>
  </div>
  <div class="links d-none d-md-block">
    <div>
      <a href="{% url 'two_factor:login' %}?next=/router/"
         class="btn custom-btn">Login</a>
    </div>
    {% if registration_enabled %}
      <div>
        <a href="{% url 'registration_register' registry.code %}"
           class="btn custom-btn">Patient registration</a>
      </div>
      <div>
        <a href="{% url 'carer_registration' registry.code %}"
           class="btn custom-btn">Principal caregiver registration</a>
      </div>
    {% endif %}
  </div>
</header>

<div class="content">
  <div class="d-none d-md-block">
    <img src="{% static 'images/mnd/mnd_intro.jpg' %}" width="100%" alt="MiNDAUS propotional image"/>
  </div>
  <div class="mobile-content d-md-none">
    <br>
    <h1 class="page-title">{% project_title %}</h1>
    <div>
      <a href="{% url 'two_factor:login' %}?next=/router/"
         class="btn custom-btn">Login</a>
    </div>
    {% if registration_enabled %}
      <div>
        <a href="{% url 'registration_register' registry.code %}"
           class="btn custom-btn">Patient registration</a>
      </div>
      <div>
        <a href="{% url 'carer_registration' registry.code %}"
           class="btn custom-btn">Principal caregiver registration</a>
      </div>
    {% endif %}
  </div>
</div>

<footer>
  <ul>
    <li>MiNDAUS Registry 2020</li>
    <li>Powered by the Trial Ready Registry Framework</li>
  </ul>
</footer>
</body>
</html>
