{% extends "rdrf_cdes/navbar_links.html" %}

{% load i18n %}
{% load translate %}

{% block patient_menu %}
    {% if request.user.is_patient %}
        <li>
            <a class="dropdown-item" href="{% url 'patient_carer_registration' %}"><span class="fa fa-user"></span>
                {% trans 'Principal caregiver management' %}
            </a>
        </li>
    {% endif %}
    {% if request.user.is_carer %}
        <li>
            <a class="dropdown-item" href="{% url 'carer_operations' %}"><span class="fa fa-user"></span>
                {% trans 'Principal caregiver management' %}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block extra_menu %}
    {% if request.user.is_carer %}
        <li>
            <a class="dropdown-item" href="{% url 'patientslisting' %}"><span class="fa fa-user"></span>
                {% trans 'Patients list' %}
            </a>
        </li>
    {% endif %}
    {% if request.user.is_staff %}
        <li>
            <a class="dropdown-item" href="{% url 'admin:groups_customuser_changelist' %}"><span class="fa fa-user"></span>
                {% trans 'Users' %}
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'admin:mnd_duplicatepatient_changelist' %}?is_duplicate__exact=1"><span class="fa fa-files-o"></span>
                {% trans 'Temporary duplicate patients' %}
            </a>
        </li>
    {% endif %}
{% endblock %}