{% extends "rdrf_cdes/patient_edit.html" %}

{% load i18n %}
{% load static %}

{% block sidebar %}
  {{ block.super }}
  <div width="100%" class="card collapsible">
    <div class="card-body">
      {% if request.user.is_clinician and not request.user.ethically_cleared %} 
        <span class="fa fa-file" aria-hidden="true"></span>
        {% trans 'About Me PDF' %}
      {% else %}
        <a href="{% url 'about_me' registry_code patient_id %}" download>
          <span class="fa fa-file" aria-hidden="true"></span>
          {% trans 'About Me PDF' %}
        </a>
        {% endif %}
    </div>
  </div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/patient_helpers.js' %}"></script>
{% endblock %}

{% block content %}
    {% include "rdrf_cdes/patient_event_handlers.html" %}
    {{block.super}}
{% endblock %}

