<script type="text/javascript">

    function extraRequiredFn(selector) {
        var existing = selector.closest('.row').find('label').html();
        if (!existing.includes("fa-asterisk")) {
            selector.closest('.row')
                .find('label')
                .html(existing + '<span class="fa fa-asterisk" style="color: red;" aria-hidden="true">');
        }
    }

    function extraHideFn(selector) {
        selector.closest('.row').find('label').find('span').remove();
    }

    function noopFn(selector) {

    }

    $(document).ready(function() {

        var NULLABLE_BOOL_FIELD_YES = "true";

        $("input[name='preferred_contact-contact_method']").change(function() {
            var selectors = [
                $("#id_preferred_contact-first_name"),
                $("#id_preferred_contact-last_name"),
                $("#id_preferred_contact-phone"),
                $("#id_preferred_contact-email")
            ];
            var checkedValue = $("input[name='preferred_contact-contact_method']:checked").val();
            if (checkedValue !== undefined && checkedValue.trim() == "person") {
                showSelectors(selectors, extraRequiredFn);
            } else {
                hideSelectors(selectors, extraHideFn);
            }
        });

        $("input[name='patient_insurance-has_private_health_fund']").change(function() {
            var checkedValue = $("input[name='patient_insurance-has_private_health_fund']:checked").val();
            if (checkedValue !== undefined && checkedValue.toLowerCase() == NULLABLE_BOOL_FIELD_YES.toLowerCase()) {
                show($("#id_patient_insurance-private_health_fund"), noopFn);
                show($("#id_patient_insurance-private_health_fund_number"), noopFn);
            } else {
                hide($("#id_patient_insurance-private_health_fund"), noopFn);
                hide($("#id_patient_insurance-private_health_fund_number"), noopFn);
            }
        });

        $("input[name='patient_insurance-is_ndis_participant']").change(function() {
            var checkedValue = $("input[name='patient_insurance-is_ndis_participant']:checked").val();
            if (checkedValue !== undefined && checkedValue.toLowerCase() == NULLABLE_BOOL_FIELD_YES.toLowerCase()) {
                show($("#id_patient_insurance-ndis_number"), noopFn);
                show($("input[name='patient_insurance-ndis_plan_manager']"), noopFn);
            } else {
                hide($("#id_patient_insurance-ndis_number"), noopFn);
                hide($("input[name='patient_insurance-ndis_plan_manager']"), noopFn);
            }
        });

        $("select[name='primary_carer-relationship']").change(function() {
            var value = $("select[name='primary_carer-relationship']").val();
            if (value === "other") {
                show($('#id_primary_carer-relationship_info'), extraRequiredFn);
            } else {
                hide($('#id_primary_carer-relationship_info'), extraHideFn);
            }
        });

        $("input[name='patient_insurance-ndis_plan_manager']").change(function() {
            var selectors = [
                $("#id_patient_insurance-ndis_coordinator_first_name"),
                $("#id_patient_insurance-ndis_coordinator_last_name"),
                $("#id_patient_insurance-ndis_coordinator_phone"),
                $("#id_patient_insurance-ndis_coordinator_email")
            ];
            var checkedValue = $("input[name='patient_insurance-ndis_plan_manager']:checked").val();            
            if (checkedValue !== undefined && (checkedValue == "other" || checkedValue == "agency")) {
                showSelectors(selectors, noopFn);
            } else {
                hideSelectors(selectors, noopFn);
            }
        });

        $("input[name='patient_insurance-has_dva_card']").change(function() {
            var checkedValue = $("input[name='patient_insurance-has_dva_card']:checked").val();
            if (checkedValue !== undefined && checkedValue.toLowerCase() == NULLABLE_BOOL_FIELD_YES.toLocaleLowerCase()) {
                show($("#id_patient_insurance-dva_card_number"), noopFn);
                show($("#id_patient_insurance-dva_card_type"), noopFn);
            } else {
                hide($("#id_patient_insurance-dva_card_number"), noopFn);
                hide($("#id_patient_insurance-dva_card_type"), noopFn);
            }
        });

        $("input[name='patient_insurance-eligible_for_home_care']").change(function() {
            var checkedValue = $("input[name='patient_insurance-eligible_for_home_care']:checked").val();
            if (checkedValue !== undefined && checkedValue.toLowerCase() === NULLABLE_BOOL_FIELD_YES.toLowerCase()) {
                show($("#id_patient_insurance-needed_mac_level"), noopFn);
            } else {
                hide($("#id_patient_insurance-needed_mac_level"), noopFn);
            }
        });

        $("input[name='patient_insurance-receiving_home_care']").change(function() {
            var checkedValue = $("input[name='patient_insurance-receiving_home_care']:checked").val();
            if (checkedValue !== undefined && checkedValue.toLowerCase() === NULLABLE_BOOL_FIELD_YES.toLowerCase()) {
                show($("#id_patient_insurance-home_care_level"), noopFn);
            } else {
                hide($("#id_patient_insurance-home_care_level"), noopFn);
            }
        });

        $("#id_primary_carer-same_address").change(function() {
            var selectors = [
                $("#id_primary_carer-address"),
                $("#id_primary_carer-suburb"),
                $("#id_primary_carer-postcode")
            ];
            if (this.checked) {
                hideSelectors(selectors, extraHideFn);
            } else {
                showSelectors(selectors, noopFn);
            }
        });

        $("#id_primary_carer-is_emergency_contact").change(function(){
            var selectors = [
                $("#id_primary_carer-em_contact_first_name"),
                $("#id_primary_carer-em_contact_last_name"),
                $("#id_primary_carer-em_contact_phone")
            ];
            if (this.checked) {
                hideSelectors(selectors, extraHideFn);
            } else {
                showSelectors(selectors, noopFn);
            }
        });

        $("input[name='primary_carer-interpreter_required']").change(function () {
            var checkedValue = $("input[name='primary_carer-interpreter_required']:checked").val();
            if (checkedValue !== undefined && checkedValue.toLowerCase() == NULLABLE_BOOL_FIELD_YES.toLowerCase()) {
                show($("#id_primary_carer-preferred_language"), extraRequiredFn);
            } else {
                hide($("#id_primary_carer-preferred_language"), extraRequiredFn);
            }
        });

        $("input[name='preferred_contact-contact_method']").trigger("change");
        $("input[name='patient_insurance-has_private_health_fund']").trigger("change");
        $("input[name='patient_insurance-is_ndis_participant']").trigger("change");
        $("select[name='primary_carer-relationship']").trigger("change");
        $("input[name='patient_insurance-ndis_plan_manager']").trigger("change");
        $("input[name='patient_insurance-has_dva_card']").trigger("change");
        $("input[name='patient_insurance-eligible_for_home_care']").trigger("change");
        $("input[name='patient_insurance-receiving_home_care']").trigger("change");
        $("#id_primary_carer-same_address").trigger("change");
        $("#id_primary_carer-is_emergency_contact").trigger("change");
        $("input[name='primary_carer-interpreter_required']").trigger("change");

    });
</script>
