html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: #5F259F;
  color: #FFA300;
}

header {
  background-position: left center;
  background-repeat: no-repeat;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  height: 100%;
}

header > .page-title {
  font-size: 14pt;
  color: white;
}

header > .links, header .links > div {
  display: inline-block;
}

.content {
  width: 100%;
  min-height: 100%;
}


h1 {
  background-image: url('../images/mnd/h1_image.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 4.5rem;
  padding-left: 5.8rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  font-size: 1.6rem !important;
}

.customBtn {
  width: 8rem !important;
}

footer {
  text-align: center;
  font-weight: bold;
  font-size: 8pt;
}

footer ul {
  list-style: none;
  width: 100%;
  line-height: 1.5;
  padding: 1.8rem 1.4rem 0rem 0rem;
}

@media only screen and (max-width: 768px) {
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}