{% extends "registration/carer_operations_base.html" %}
{% load i18n %}
{% load translate %}

{% block operation_info %}
    {% url 'patient_edit' registry_code patient.pk as demographics_page_url %}
    {% if not carer %}
        <p>{% trans 'Principal caregiver details unknown.' %}</p>
        <p>{% blocktrans %}Please fill in the details of your principal caregiver on the <a href="{{demographics_page_url}}">Demographics page</a>.{% endblocktrans %}</p>
    {% else %}
        <p>{% blocktrans %}Your principal caregiver is <strong>{{carer}}</strong>.{% endblocktrans %}</p>
    {% endif %}
    <div class="alert alert-warning" style="margin-bottom: 0px" role="alert">
        <p><strong>{% trans 'Principal caregiver registration disabled!' %}</strong></p>
        <p>{% trans 'You can only invite your principal caregiver to use the registry if caregiver registration is enabled by an administrator.' %}</p>
    </div>
    <br/>
    {% if carer %}
        <a href="{{demographics_page_url}}"> Back to demographics page </a>
    {% endif %}
{% endblock %}