{% extends "rdrf_cdes/base-1-col.html" %}
{% load i18n %}
{% load translate %}

{% block content %}
    <form action="{% url 'patient_carer_registration' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                        <div class="card-header">
                            {% trans 'Principal Caregiver Management' %}
                        </div>
                        <div class="card-body">
                            {% block operation_info %}
                            {% endblock %}
                        </div>
                        {% block buttons %}
                        {% endblock %}
                </div>
            </div>
        </div>
     </form>
{% endblock %}
