{% extends "registration/registration_base.html" %}

{% load i18n %}
{% load countries %}
{% load project_title %}
{% load recaptcha_site_key %}

{% block extra_js_init %}

    $("#id_date_of_birth").datepicker(dateOptions);
    setStatesOnLoad("#id_country", "#id_state", "#patient_state_value");
    setUpStateOnCountryChange("#id_country", "#id_state");

    function load_private_health_funds() {
        var target = $("#id_patient_insurance_private_health_fund");
        target.empty();
        target.append($('<option>', { value : "" }).text("Private Health Fund Name"));
        var fund_lookup_url = "{% url 'load_private_health_funds' %}";
        $.getJSON( fund_lookup_url, function( data ) {
            $.each( data.funds, function( key, val ) {
                target.append($('<option>', { value : val.code }).text(val.name));
            });
        });
    }

    {% if not is_mobile %}
        $("#extra-info-form").accordion({
            heightStyle: "content",
            collapsible: true,
            active: false
        });

        $("#insurance-form").accordion({
            heightStyle: "content",
            collapsible: true,
            active: false
        });

        $("#primary-carer-form").accordion({
            heightStyle: "content",
            collapsible: true,
            active: false
        });
    {% endif %}


    $("#id_preferred_contact_contact_method").change(function() {
        var current_value = this.value;
        switch (current_value) {
            case "person": {
                $("#preferred_contact_data").css('display', 'block');
                $("#id_preferred_contact_first_name").attr('required','');
                $("#id_preferred_contact_last_name").attr('required','');
                $("#id_preferred_contact_phone").attr('required','');
                $("#id_preferred_contact_email").attr('required','');
                break;
            }
            default:
                $("#preferred_contact_data").css('display', 'none');
                $("#id_preferred_contact_first_name").removeAttr('required');
                $("#id_preferred_contact_last_name").removeAttr('required');
                $("#id_preferred_contact_phone").removeAttr('required');
                $("#id_preferred_contact_email").removeAttr('required');
        }
    });

    $("#id_patient_insurance_private_health_fund").change(function() {
        if (this.value == "") {
            $("#patient_insurance_pension_number").css('display', 'block');
            $("#patient_insurance_pension_number").attr('required','');
            $("#patient_insurance_private_health_fund_number").css('display', 'none');
            $("#id_patient_insurance_private_health_fund_number").removeAttr('required');
        } else {
            $("#patient_insurance_pension_number").css('display', 'none');
            $("#patient_insurance_private_health_fund_number").css('display', 'block');
            $("#patient_insurance_pension_number").removeAttr('required');
            $("#id_patient_insurance_private_health_fund_number").attr('required', '');
        }
    });

    $("#id_patient_insurance_ndis_number").change(function() {
        if (this.value.trim() == "") {
            $("#patient_insurance_private_health_fund").css('display', 'block');
            $("#patient_insurance_private_health_fund_number").css('display', 'block');
            $("#id_patient_insurance_private_health_fund_name").attr('required', '');
            $("#id_patient_insurance_private_health_fund_number").attr('required', '');

        } else {
            $("#patient_insurance_private_health_fund").css('display', 'none');
            $("#patient_insurance_private_health_fund_number").css('display', 'none');
            $("#id_patient_insurance_private_health_fund_name").removeAttr('required');
            $("#id_patient_insurance_private_health_fund_number").removeAttr('required');
        }
    });

    $("#id_primary_carer_relationship").change(function() {
        if (this.value.trim() == "other") {
            $('#primary_carer_relationship_info').css('display', 'block');
        } else {
            $('#primary_carer_relationship_info').css('display', 'none');
        }
    });

    $("#id_patient_insurance_ndis_plan_manager").change(function() {
        if (this.value.trim() == "other") {
            $("#plan_manager_info").css('display', 'block');
            $("#id_patient_insurance_ndis_coordinator_first_name").attr('required','');
            $("#id_patient_insurance_ndis_coordinator_last_name").attr('required','');
            $("#id_patient_insurance_ndis_coordinator_phone").attr('required','');
        } else {
            $("#plan_manager_info").css('display', 'none');
            $("#id_patient_insurance_ndis_coordinator_first_name").removeAttr('required');
            $("#id_patient_insurance_ndis_coordinator_last_name").removeAttr('required');
            $("#id_patient_insurance_ndis_coordinator_phone").removeAttr('required');
        }
    });

    $("#registration-submit").click(function() {
        var registration_form = $("#registration-form");
        $("#patient-form").accordion("option", "active" ,0);
        $("#extra-info-form").accordion("option", "active" ,0);
        $("#insurance-form").accordion("option", "active" ,0);
        $("#primary-carer-form").accordion("option", "active" ,0);
        $("#id_email").val($("#id_username").val());
        if (registration_form.valid()) {
            registration_form.submit();
        } else {
            var msg = $("#form-invalid");
            msg.slideDown("slow", function() {
                setTimeout(function() {
                    msg.slideUp("slow")
                    }, 2000);
            });

            onValidationError();
        }
    });

    load_private_health_funds();

{% endblock %}

{% block content %}

    <h3>
        <strong>{% project_title %} - {% trans "Patient Registration - MND" %}</strong>
    </h3>

    <div class="alert alert-danger" style="display: none" id="username-error">
        <p>
            <b>{% trans "Username error:  This username already exists, please choose a different username." %}</b>
        </p>
        <p>
            {% trans "If you have already registered and would like to update your data or add another patient, you don't have to register again. Just go to the login page and login with the e-mail address and password you previously registered with." %}
        </p>
        <p>
            {% trans "If you have forgotten your password, please  click on 'forgotten your password?'" %}
        </p>
    </div>

    <form id="registration-form" method="POST">
        {% csrf_token %}
        <input type="hidden" name="registry_code" value="{{registry_code}}">
        <input id="id_email" name="email" type="hidden" />
        <input type="hidden" id="patient_state_value" value="{{form.state.value}}">
        <div class="row">
            <div class="col-md-6">
                {% include "registration/registration_login_details.html" %}
            </div>
            <div class="col-md-6" >
                <div id="patient-form">
                    {% include "registration/registration_patient_details.html" %}
                    {% include "registration/registration_patient_address.html" %}
                </div>
                </div>
                <div id="extra-info-form">
                    <h2>{% trans "Preferred contact" %}</h2>
                    <div id="parent_guardian_form">
                        <div class="form-group">
                            {{form.preferred_contact_contact_method}}
                        </div>
                        <div id="preferred_contact_data" style="display:none;">
                            <div class="form-group">
                                {{form.preferred_contact_email}}
                            </div>
                            <div class="form-group">
                                {{form.preferred_contact_first_name}}
                            </div>
                            <div class="form-group">
                                {{form.preferred_contact_last_name}}
                            </div>
                            <div class="form-group">
                                {{form.preferred_contact_phone}}
                            </div>
                        </div>
                    </div>
                    </div>
                    <div id="insurance-form">
                        <h2>{% trans "Insurance details" %}</h2>
                        <div id="insurance-details">
                            <div class="form-group">
                                {{form.patient_insurance_medicare_number}}
                            </div>
                            <div class="form-group" id="patient_insurance_pension_number">
                                {{form.patient_insurance_pension_number}}
                            </div>
                            <div class="form-group" id="patient_insurance_private_health_fund" style="display:block;">
                                {{form.patient_insurance_private_health_fund}}
                            </div>
                            <div class="form-group" id="patient_insurance_private_health_fund_number" style="display:none;">
                                {{form.patient_insurance_private_health_fund_number}}
                            </div>
                            <div class="form-group">
                                {{form.patient_insurance_ndis_number}}
                            </div>
                            <div class="form-group">
                                {{form.patient_insurance_ndis_plan_manager}}
                            </div>
                            <div id="plan_manager_info" style="display:none">
                                <div class="form-group">
                                    {{form.patient_insurance_ndis_coordinator_first_name}}
                                </div>
                                <div class="form-group">
                                    {{form.patient_insurance_ndis_coordinator_last_name}}
                                </div>
                                <div class="form-group">
                                    {{form.patient_insurance_ndis_coordinator_phone}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="primary-carer-form">
                        <h2>{% trans "Primary carer details" %}</h2>
                        <div id="primary-carer-details">
                            <div class="form-group">
                                {{form.primary_carer_first_name}}
                            </div>
                            <div class="form-group">
                                {{form.primary_carer_last_name}}
                            </div>
                            <div class="form-group">
                                {{form.primary_carer_relationship}}
                            </div>
                            <div class="form-group" style="display:none" id="primary_carer_relationship_info">
                                {{form.primary_carer_relationship_info}}
                            </div>
                            <div class="form-group">
                                {{form.primary_carer_phone}}
                            </div>
                            <div class="form-group">
                                {{form.primary_carer_email}}
                            </div>
                        </div>
                    </div>
            <br/>
            <div class="col-md-6">
                <div class="g-recaptcha" data-sitekey="{% recaptcha_site_key %}"  data-callback='reCaptchaCallback' data-expired-callback='reCaptchaExpiredCallback'></div>
            </div>
            <div class="col-md-6">
                <button type="button" id="registration-submit" class="btn btn-success pull-right">Submit</button>
            </div>
        </div>
    </form>

{% endblock %}
